.app {
  width: 90%;
  margin-top: 2rem;
}

.app .title {
  background-color: grey;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
}

.app .title .icon {
  height: 100%;
  width: 10%;
  background: url("../../../public/goals-svgrepo-com.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.5rem;
}

.app .title .trash {
  height: 100%;
  width: 10%;
}

.app .body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
